In [127]:
import pandas as pd
import json

Players

In [128]:
with open ('./t20_wc_match_results.json') as f:
    data = json.load(f)

df_match = pd.DataFrame(data[0]['matchSummary'])
df_match.head()

,team1,team2,winner,margin,ground,matchDate,scorecard
0,Namibia,Sri Lanka,Namibia,55 runs,Geelong,"Oct 16, 2022",T20I # 1823
1,Netherlands,U.A.E.,Netherlands,3 wickets,Geelong,"Oct 16, 2022",T20I # 1825
2,Scotland,West Indies,Scotland,42 runs,Hobart,"Oct 17, 2022",T20I # 1826
3,Ireland,Zimbabwe,Zimbabwe,31 runs,Hobart,"Oct 17, 2022",T20I # 1828
4,Namibia,Netherlands,Netherlands,5 wickets,Geelong,"Oct 18, 2022",T20I # 1830

In [129]:
df_match.rename(columns={'scorecard': 'match_id'}, inplace=True)
df_match.head()

,team1,team2,winner,margin,ground,matchDate,match_id
0,Namibia,Sri Lanka,Namibia,55 runs,Geelong,"Oct 16, 2022",T20I # 1823
1,Netherlands,U.A.E.,Netherlands,3 wickets,Geelong,"Oct 16, 2022",T20I # 1825
2,Scotland,West Indies,Scotland,42 runs,Hobart,"Oct 17, 2022",T20I # 1826
3,Ireland,Zimbabwe,Zimbabwe,31 runs,Hobart,"Oct 17, 2022",T20I # 1828
4,Namibia,Netherlands,Netherlands,5 wickets,Geelong,"Oct 18, 2022",T20I # 1830

In [130]:
df_match.to_csv('t20_match.csv', index=False)

In [131]:
match_id_dict = {}

for index, row in df_match.iterrows():
    key1 = row['team1'] + ' Vs ' + row['team2']
    key2 = row['team2'] + ' Vs ' + row['team1']

    match_id_dict[key1] = row['match_id']
    match_id_dict[key2] = row['match_id']

match_id_dict

{'Namibia Vs Sri Lanka': 'T20I # 1823',
 'Sri Lanka Vs Namibia': 'T20I # 1823',
 'Netherlands Vs U.A.E.': 'T20I # 1825',
 'U.A.E. Vs Netherlands': 'T20I # 1825',
 'Scotland Vs West Indies': 'T20I # 1826',
 'West Indies Vs Scotland': 'T20I # 1826',
 'Ireland Vs Zimbabwe': 'T20I # 1828',
 'Zimbabwe Vs Ireland': 'T20I # 1828',
 'Namibia Vs Netherlands': 'T20I # 1830',
 'Netherlands Vs Namibia': 'T20I # 1830',
 'Sri Lanka Vs U.A.E.': 'T20I # 1832',
 'U.A.E. Vs Sri Lanka': 'T20I # 1832',
 'Ireland Vs Scotland': 'T20I # 1833',
 'Scotland Vs Ireland': 'T20I # 1833',
 'West Indies Vs Zimbabwe': 'T20I # 1834',
 'Zimbabwe Vs West Indies': 'T20I # 1834',
 'Netherlands Vs Sri Lanka': 'T20I # 1835',
 'Sri Lanka Vs Netherlands': 'T20I # 1835',
 'Namibia Vs U.A.E.': 'T20I # 1836',
 'U.A.E. Vs Namibia': 'T20I # 1836',
 'Ireland Vs West Indies': 'T20I # 1837',
 'West Indies Vs Ireland': 'T20I # 1837',
 'Scotland Vs Zimbabwe': 'T20I # 1838',
 'Zimbabwe Vs Scotland': 'T20I # 1838',
 'Australia Vs New Zealand': 'T20I # 1839',
 'New Zealand Vs Australia': 'T20I # 1839',
 'Afghanistan Vs England': 'T20I # 1840',
 'England Vs Afghanistan': 'T20I # 1840',
 'Ireland Vs Sri Lanka': 'T20I # 1841',
 'Sri Lanka Vs Ireland': 'T20I # 1841',
 'India Vs Pakistan': 'T20I # 1842',
 'Pakistan Vs India': 'T20I # 1842',
 'Bangladesh Vs Netherlands': 'T20I # 1843',
 'Netherlands Vs Bangladesh': 'T20I # 1843',
 'South Africa Vs Zimbabwe': 'T20I # 1844',
 'Zimbabwe Vs South Africa': 'T20I # 1844',
 'Australia Vs Sri Lanka': 'T20I # 1845',
 'Sri Lanka Vs Australia': 'T20I # 1845',
 'England Vs Ireland': 'T20I # 1846',
 'Ireland Vs England': 'T20I # 1846',
 'Afghanistan Vs New Zealand': 'T20I # 1846a',
 'New Zealand Vs Afghanistan': 'T20I # 1846a',
 'Bangladesh Vs South Africa': 'T20I # 1847',
 'South Africa Vs Bangladesh': 'T20I # 1847',
 'India Vs Netherlands': 'T20I # 1848',
 'Netherlands Vs India': 'T20I # 1848',
 'Pakistan Vs Zimbabwe': 'T20I # 1849',
 'Zimbabwe Vs Pakistan': 'T20I # 1849',
 'Afghanistan Vs Ireland': 'T20I # 1849a',
 'Ireland Vs Afghanistan': 'T20I # 1849a',
 'Australia Vs England': 'T20I # 1849b',
 'England Vs Australia': 'T20I # 1849b',
 'New Zealand Vs Sri Lanka': 'T20I # 1850',
 'Sri Lanka Vs New Zealand': 'T20I # 1850',
 'Bangladesh Vs Zimbabwe': 'T20I # 1851',
 'Zimbabwe Vs Bangladesh': 'T20I # 1851',
 'Netherlands Vs Pakistan': 'T20I # 1852',
 'Pakistan Vs Netherlands': 'T20I # 1852',
 'India Vs South Africa': 'T20I # 1853',
 'South Africa Vs India': 'T20I # 1853',
 'Australia Vs Ireland': 'T20I # 1855',
 'Ireland Vs Australia': 'T20I # 1855',
 'Afghanistan Vs Sri Lanka': 'T20I # 1856',
 'Sri Lanka Vs Afghanistan': 'T20I # 1856',
 'England Vs New Zealand': 'T20I # 1858',
 'New Zealand Vs England': 'T20I # 1858',
 'Netherlands Vs Zimbabwe': 'T20I # 1859',
 'Zimbabwe Vs Netherlands': 'T20I # 1859',
 'Bangladesh Vs India': 'T20I # 1860',
 'India Vs Bangladesh': 'T20I # 1860',
 'Pakistan Vs South Africa': 'T20I # 1861',
 'South Africa Vs Pakistan': 'T20I # 1861',
 'Ireland Vs New Zealand': 'T20I # 1862',
 'New Zealand Vs Ireland': 'T20I # 1862',
 'Australia Vs Afghanistan': 'T20I # 1864',
 'Afghanistan Vs Australia': 'T20I # 1864',
 'England Vs Sri Lanka': 'T20I # 1867',
 'Sri Lanka Vs England': 'T20I # 1867',
 'Netherlands Vs South Africa': 'T20I # 1871',
 'South Africa Vs Netherlands': 'T20I # 1871',
 'Bangladesh Vs Pakistan': 'T20I # 1872',
 'Pakistan Vs Bangladesh': 'T20I # 1872',
 'India Vs Zimbabwe': 'T20I # 1873',
 'Zimbabwe Vs India': 'T20I # 1873',
 'New Zealand Vs Pakistan': 'T20I # 1877',
 'Pakistan Vs New Zealand': 'T20I # 1877',
 'England Vs India': 'T20I # 1878',
 'India Vs England': 'T20I # 1878',
 'England Vs Pakistan': 'T20I # 1879',
 'Pakistan Vs England': 'T20I # 1879'}

Batting

In [132]:
with open('./t20_wc_batting_summary.json') as f:
    data2 = json.load(f)

    all_records = [] #para criar uma lista longa e anexar ao dados em sequência

    for rec in data2:
        all_records.extend(rec['battingSummary'])

df_batting = pd.DataFrame(all_records)
df_batting.head()

,match,teamInnings,battingPos,batsmanName,dismissal,runs,balls,4s,6s,SR
0,Namibia Vs Sri Lanka,Namibia,1,Michael van Lingen,c Pramod Madushan b Chameera,3,6,0,0,50.00
1,Namibia Vs Sri Lanka,Namibia,2,Divan la Cock,c Shanaka b Pramod Madushan,9,9,1,0,100.00
2,Namibia Vs Sri Lanka,Namibia,3,Jan Nicol Loftie-Eaton,c â€ Mendis b Karunaratne,20,12,1,2,166.66
3,Namibia Vs Sri Lanka,Namibia,4,Stephan Baard,c DM de Silva b Pramod Madushan,26,24,2,0,108.33
4,Namibia Vs Sri Lanka,Namibia,5,Gerhard Erasmus(c),c Gunathilaka b PWH de Silva,20,24,0,0,83.33

In [133]:
df_batting['out/not_out'] = df_batting.dismissal.apply(lambda x: 'out' if len(x) > 0  else 'not_out')
df_batting.head()

,match,teamInnings,battingPos,batsmanName,dismissal,runs,balls,4s,6s,SR,out/not_out
0,Namibia Vs Sri Lanka,Namibia,1,Michael van Lingen,c Pramod Madushan b Chameera,3,6,0,0,50.00,out
1,Namibia Vs Sri Lanka,Namibia,2,Divan la Cock,c Shanaka b Pramod Madushan,9,9,1,0,100.00,out
2,Namibia Vs Sri Lanka,Namibia,3,Jan Nicol Loftie-Eaton,c â€ Mendis b Karunaratne,20,12,1,2,166.66,out
3,Namibia Vs Sri Lanka,Namibia,4,Stephan Baard,c DM de Silva b Pramod Madushan,26,24,2,0,108.33,out
4,Namibia Vs Sri Lanka,Namibia,5,Gerhard Erasmus(c),c Gunathilaka b PWH de Silva,20,24,0,0,83.33,out

In [134]:
df_batting.drop(columns='dismissal', inplace=True)

In [135]:
df_batting.tail()

,match,teamInnings,battingPos,batsmanName,runs,balls,4s,6s,SR,out/not_out
694,Pakistan Vs England,England,3,Phil Salt,10,9,2,0,111.11,out
695,Pakistan Vs England,England,4,Ben Stokes,52,49,5,1,106.12,not_out
696,Pakistan Vs England,England,5,Harry Brook,20,23,1,0,86.95,out
697,Pakistan Vs England,England,6,Moeen Ali,19,13,3,0,146.15,out
698,Pakistan Vs England,England,7,Liam Livingstone,1,1,0,0,100.00,not_out

In [136]:
df_batting['batsmanName'] = df_batting['batsmanName'].apply(lambda x: x.replace('â€', ''))
df_batting['batsmanName'] = df_batting['batsmanName'].apply(lambda x: x.replace('\xa0', ''))

In [137]:
df_batting['match_id'] = df_batting.match.map(match_id_dict)
df_batting.head()

,match,teamInnings,battingPos,batsmanName,runs,balls,4s,6s,SR,out/not_out,match_id
0,Namibia Vs Sri Lanka,Namibia,1,Michael van Lingen,3,6,0,0,50.00,out,T20I # 1823
1,Namibia Vs Sri Lanka,Namibia,2,Divan la Cock,9,9,1,0,100.00,out,T20I # 1823
2,Namibia Vs Sri Lanka,Namibia,3,Jan Nicol Loftie-Eaton,20,12,1,2,166.66,out,T20I # 1823
3,Namibia Vs Sri Lanka,Namibia,4,Stephan Baard,26,24,2,0,108.33,out,T20I # 1823
4,Namibia Vs Sri Lanka,Namibia,5,Gerhard Erasmus(c),20,24,0,0,83.33,out,T20I # 1823

In [138]:
df_batting.to_csv('t20_batting.csv', index=False)

Bowling

In [139]:
with open ('./t20_wc_bowling_summary.json') as f:
    data3 = json.load(f)

    all_records = []

    for rec in data3:
        all_records.extend(rec['bowlingSummary'])


df_bowling = pd.DataFrame(all_records)
df_bowling.head()

,match,bowlingTeam,bowlerName,overs,maiden,runs,wickets,economy,0s,4s,6s,wides,noBalls
0,Namibia Vs Sri Lanka,Sri Lanka,Maheesh Theekshana,4,0,23,1,5.75,7,0,0,2,0
1,Namibia Vs Sri Lanka,Sri Lanka,Dushmantha Chameera,4,0,39,1,9.75,6,3,1,2,0
2,Namibia Vs Sri Lanka,Sri Lanka,Pramod Madushan,4,0,37,2,9.25,6,3,1,0,0
3,Namibia Vs Sri Lanka,Sri Lanka,Chamika Karunaratne,4,0,36,1,9.00,7,3,1,1,0
4,Namibia Vs Sri Lanka,Sri Lanka,Wanindu Hasaranga de Silva,4,0,27,1,6.75,8,1,1,0,0

In [140]:
df_bowling['match_id'] = df_bowling.match.map(match_id_dict)
df_bowling.head()

,match,bowlingTeam,bowlerName,overs,maiden,runs,wickets,economy,0s,4s,6s,wides,noBalls,match_id
0,Namibia Vs Sri Lanka,Sri Lanka,Maheesh Theekshana,4,0,23,1,5.75,7,0,0,2,0,T20I # 1823
1,Namibia Vs Sri Lanka,Sri Lanka,Dushmantha Chameera,4,0,39,1,9.75,6,3,1,2,0,T20I # 1823
2,Namibia Vs Sri Lanka,Sri Lanka,Pramod Madushan,4,0,37,2,9.25,6,3,1,0,0,T20I # 1823
3,Namibia Vs Sri Lanka,Sri Lanka,Chamika Karunaratne,4,0,36,1,9.00,7,3,1,1,0,T20I # 1823
4,Namibia Vs Sri Lanka,Sri Lanka,Wanindu Hasaranga de Silva,4,0,27,1,6.75,8,1,1,0,0,T20I # 1823

In [141]:
df_bowling.to_csv('t20_bowling.csv', index=False)

Players

In [142]:
with open ('./t20_wc_player_info.json') as f:
    data4 = json.load(f)

df_players = pd.DataFrame(data4)

In [143]:
df_players[80:110]

,name,team,battingStyle,bowlingStyle,playingRole,description
80,Muhammad Waseem,U.A.E.,Right hand Bat,Right arm Medium,Opening Batter,
81,Vriitya Aravindâ€,U.A.E.,Right hand Bat,,Wicketkeeper,
82,Chundangapoyil Rizwan(c),U.A.E.,Right hand Bat,Legbreak Googly,Middle order Batter,
83,Alishan Sharafu,U.A.E.,Right hand Bat,Right arm Medium,Opening Batter,
84,Basil Hameed,U.A.E.,Right hand Bat,Right arm Offbreak,Middle order Batter,
85,Zane Greenâ€,Namibia,Left hand Bat,,Wicketkeeper Batter,
86,Ruben Trumpelmann,Namibia,Right hand Bat,Left arm Fast,Bowler,
87,Junaid Siddique,U.A.E.,Right hand Bat,Right arm Medium fast,Bowler,
88,Zahoor Khan,U.A.E.,Right hand Bat,Right arm Medium fast,Bowler,
89,Ahmed Raza,U.A.E.,Right hand Bat,Slow Left arm Orthodox,Bowler,Six-foot-five Ahmed Raza is best known for his...
90,Karthik Meiyappan,U.A.E.,Right hand Bat,Legbreak,Bowler,
91,Aayan Afzal Khan,U.A.E.,Right hand Bat,Slow Left arm Orthodox,Bowling Allrounder,
92,Chirag Suri,U.A.E.,Right hand Bat,"Right arm Offbreak, Legbreak Googly",Opening Batter,"Two days after his 22nd birthday, opening batt..."
93,Kashif Daud,U.A.E.,Right hand Bat,Right arm Medium fast,Bowling Allrounder,
94,Zawar Farid,U.A.E.,Right hand Bat,Right arm Medium,Bowler,
95,Vikramjit Singh,Netherlands,Left hand Bat,Right arm Medium fast,Opening Batter,
96,Max O'Dowd,Netherlands,Right hand Bat,Right arm Offbreak,Opening Batter,
97,Bas de Leede,Netherlands,Right hand Bat,Right arm Fast medium,Batting Allrounder,
98,Colin Ackermann,Netherlands,Right hand Bat,Right arm Offbreak,Batting Allrounder,Having relinquished his South African qualific...
99,Tom Cooper,Netherlands,Right hand Bat,Right arm Offbreak,Middle order Batter,An aggressive batsman who was born in Wollongo...
100,Scott Edwards(c)â€,Netherlands,Right hand Bat,,Wicketkeeper Batter,
101,Roelof van der Merwe,Netherlands,Right hand Bat,Slow Left arm Orthodox,Allrounder,Tidy left-arm spinner and hard-hitting batter ...
102,Tim Pringle,Netherlands,Right hand Bat,Slow Left arm Orthodox,Allrounder,
103,Logan van Beek,Netherlands,Right hand Bat,Right arm Medium fast,Bowler,Logan van Beek is an allrounder in more ways t...
104,Fred Klaassen,Netherlands,Right hand Bat,Left arm Fast medium,Bowler,Spotted as part of a Netherlands development s...
105,Paul van Meekeren,Netherlands,Right hand Bat,Right arm Fast medium,Bowler,Paul van Meekeren drew attention to himself du...
106,Kyle Mayers,West Indies,Left hand Bat,Right arm Medium,Batting Allrounder,A left-handed batsman who bowls useful medium ...
107,Johnson Charles,West Indies,Right hand Bat,,Wicketkeeper Batter,A muscular opener with a penchant for swatting...
108,Evin Lewis,West Indies,Left hand Bat,,Opening Batter,"""I hit a lot of sixes, big sixes like him,"" Ev..."
109,Brandon King,West Indies,Right hand Bat,,Top order Batter,Brandon King got his start as a solid middle-o...

In [144]:
df_players['name'] = df_players.name.apply(lambda x: x.replace('â€', ''))
df_players['name'] = df_players.name.apply(lambda x: x.replace('†', ''))
df_players['name'] = df_players.name.apply(lambda x: x.replace('\xa0', ''))

In [145]:
df_players.to_csv('t20_player_no_image.csv', index=False)